{
  "presets": [
    "react-native", 
    "flow"
  ],
  "plugins":[
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "components": "components",
          "dashboard": "dashboard",
          "expense": "expense",
          "income": "income",
          "utils": "utils",
          "package.json": "./package.json"
        }
      }
    ]
  ]
}
